@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-main: #0d1117;
  --dark-second: #161b22;
}

html,
body {
  overflow: auto;
  min-height: 100%;
  color: white;
  background-color: var(--dark-main);
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  background: radial-gradient(circle, #0f1319 0%, #0e1218 20%, var(--dark-main) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 30px var(--dark-second) inset !important;
  transition: background-color 90000000s ease-in-out 0s;
}