:root {
    --dark-main: #202124;
}

html,
body {
    color: white;
    background-color: var(--dark-main);
    padding: 0;
    margin: 0;
    /* font-family: ; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}