.main-header {
	display: flex;
	word-wrap: break-word;
	flex-direction: row;
	margin-top: 0rem;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 3.5rem;
	width: 100vw;
	row-gap: 16px;
	flex-wrap: nowrap;
	align-items: center;
}

.spacer {
	width: 100%;
}

.header-image {
	padding-left: 0.5rem;
	padding-right: 0.8rem;
}

.header-item {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	font-weight: 600;
	font-size: 15px;
}

.layout-footer {
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	opacity: 80%;
	color: darkgray;
	width: 100vw;
	padding-bottom: 0.2rem;
	padding-top: 0.4rem;
}

.layout-footer div p {
	text-align: center;
}

.btn {
	background-image: linear-gradient(to right, #8400ff 0%, #6d00d4 51%, #8400ff 100%);
	margin-right: 20px;
	transition: 0.6s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	margin: 0px;
	margin-top: 20px;
	padding: 10px;
	padding-inline: 14px;
	background-color: var(--dark-second);
	border: none;
}

.btn:hover {
	background-position: right center;
	background-size: 400% auto;
	animation: rotate-gradient 1s
}